h1 {
  text-align: center;
  font-size: 3.3em;
  margin-top: 15%;
}

.enterApp {
  display: flex;
  justify-content: center;
}

.enterApp a {
  width: fit-content;
  text-decoration: none;
  color: #9dc5bb;
  font-size: 1.3em;
}

img {
  width: 10%;
  display: block;
  margin: 3% auto 0 auto;
}
