@import '~@angular/material/theming';

@include mat-core();

$books-primary: mat-palette($mat-gray, 900);
$books-accent: mat-palette($mat-gray);
$books-warn: mat-palette($mat-deep-orange, A200);

$books-theme: mat-dark-theme($books-primary, $books-accent, $books-warn);

@include angular-material-theme($books-theme);
