@import '~@angular/material/theming';

@include mat-core();

$books-primary: mat-palette($mat-green);
$books-accent: mat-palette($mat-teal);
$books-warn: mat-palette($mat-red);

$books-theme: mat-light-theme($books-primary, $books-accent, $books-warn);

@include angular-material-theme($books-theme);
