<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">Books Library</span>
  <span class="example-spacer"></span>
  <span class="example-icon">
    <a [routerLink]="['/home']"> All Books </a>
  </span>
  <span *ngIf="endpointService.user" class="example-icon">
    <a [routerLink]="['/profile']">{{ endpointService.user.first_name }} </a>
  </span>
</nav>

<div *ngIf="endpointService.user">
  <div class="userPrimaryDetails">
    <img src={{endpointService.user.avatar}}>
    <span class="name">{{endpointService.user.first_name}} {{endpointService.user.last_name}} </span>
    <span class="role">{{endpointService.user.role}} </span>
  </div>

  <hr>

  <div class="userDetails">
    <div>City: {{endpointService.user.city}} </div>
    <div>Books: {{endpointService.user.books_number}}</div>
    <div>Return date: {{ endpointService.shortDate | date:'dd/MM/y'}}</div>
  </div>
</div>
