<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Books Library</span>
    <span class="example-spacer"></span>
    <span class="example-icon">
      <a [routerLink]="['/home']"> All Books
      </a>
    </span>
    <span *ngIf="user" class="example-icon">
      <a [routerLink]="['/profile']">{{user.first_name}}
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="user">
  {{user.id}} {{user.first_name}} {{user.last_name}} {{user.avatar}} {{user.role}}
  {{user.city}} {{user.books_number}} {{user.return_date}}
</div>
