<nav class="navbar sticky-top navbar-dark bg-dark">
  <span class="navbar-brand nav-text">Books Library</span>
  <span class="example-spacer"></span>
  <div *ngIf="endpointService.user" class="wrap-right-nav">
    <span class="example-icon nav-text">
      <a [routerLink]="['/home']"> All Books </a>
    </span>
    <span *ngIf="endpointService.user">
      <img class="navbarPhoto dropdown-toggle" src="{{endpointService.user.avatar}}" data-toggle="dropdown">
      <div class="dropdown-menu dropdown-menu-right text-center">
        <!-- <li class="dropdown-item">
        <a [routerLink]="['/profile']">
          {{endpointService.user.first_name}}' Profile
        </a>
        </li> -->
        <li class="dropdown-item">
        <a [routerLink]="['/login']">
          Log Out
        </a>
        </li>
      </div>
    </span>
  </div>
</nav>

<div *ngIf="endpointService.user">
  <div class="userPrimaryDetails">
    <img class="userPhoto" src={{endpointService.user.avatar}}>
    <span class="name">{{endpointService.user.first_name}} {{endpointService.user.last_name}} </span>
    <span class="role">{{endpointService.user.role}} </span>
  </div>

  <hr>

  <div class="userDetails">
    <div>City: {{endpointService.user.city}} </div>
    <div>Books: {{endpointService.user.books_number}}</div>
    <div>Return date: {{ endpointService.shortDate | date:'dd/MM/y'}}</div>
  </div>
</div>
