@import '~@angular/material/theming';
@import '../../themes/books-theme.scss';

$accent: map-get($books-theme, accent);

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  cursor: pointer;
}

.booksCard {
  background-color: mat-color($accent);
  margin-bottom: 5%;
  margin-top: 2%;
  // width: 30%;
}

.categoriesCard {
  width: 90px;
}

li {
  list-style-type: none;
}
