<span>Books Library</span>
<span class="example-spacer"></span>
<span class="example-icon">
  <a [routerLink]="['/home']"> All Books </a>
</span>
<span *ngIf="endpointService.user" class="example-icon">
  <a [routerLink]="['/profile']">{{ endpointService.user.first_name }} </a>
</span>




<p class="categories">CATEGORIES</p>
<div *ngIf="endpointService.categories">
  <li *ngFor="let category of endpointService.categories" [ngStyle]="{ 'background-color': category.color }"
    class="categoriesCard">
    {{ category.name }}
  </li>
</div>

<p class="books">BOOKS</p>
<div *ngFor="let book of endpointService.books">
  <li class="booksCard">
    {{ book.title }}
    {{ book.categoryId }}

    <img src="{{ book.thumbnail }}" />

    <p>{{ book.description }}</p>

  </li>
</div>
