@import '~@angular/material/theming';
@import '../../themes/books-theme.scss';

$accent: map-get($books-theme, accent);

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  cursor: pointer;
}

.booksCard {
  background-color: mat-color($accent);
  margin: 10px;
  width: fit-content;
}

.categoriesCard {
  width: 90px;
  text-align: center;
  margin: 15px 30px 15px 15px;
}

.categories {
  font-size: 2em;
  margin-right: 10px;
}

li {
  list-style-type: none;
}

.example-container {
  width: 171vh;
  height: 100vh;
  margin: 10px;
  border: 1px solid #555;
}

mat-toolbar {
  position: sticky;
}

.books {
  font-size: 2em;
  margin-left: 10px;
}
