a {
  cursor: pointer;
}

.categoriesCard {
  width: 90px;
  text-align: center;
  margin: 15px 30px 15px 15px;
}

.categories {
  font-size: 2em;
  margin-right: 10px;
}

li {
  list-style-type: none;
}

.content {
  height: calc(100vh - 80px);
}

.books {
  font-size: 2em;
  margin-left: 10px;
}

.card-img-top {
  max-height: 200px;
}

.card {
  overflow: hidden;
  border-radius: 0.625rem;
  margin-bottom: 40px;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #838f93;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.userPhoto {
  width: 15%;
  border-radius: 50%;
}
