<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">Books Library</span>
  <span class="example-spacer"></span>
  <span class="example-icon">
    <a [routerLink]="['/home']"> All Books </a>
  </span>
  <span *ngIf="endpointService.user" class="example-icon">
    <a [routerLink]="['/profile']">{{ endpointService.user.first_name }} </a>
  </span>
  <div *ngIf="endpointService.user">
    <img class="userPhoto" src="{{endpointService.user.avatar}}">
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <p class="categories">CATEGORIES</p>
      <div *ngIf="endpointService.categories">
        <li *ngFor="let category of endpointService.categories" [ngStyle]="{ 'background-color': category.color }"
          class="categoriesCard">
          {{ category.name }}
        </li>
      </div>
    </div>
    <div class="col-10">

      <div class="container">
        <div class="row">
          <div class="col">
            <p class="books">BOOKS</p>
          </div>
        </div>
        <div class="row">

          <div *ngFor="let book of endpointService.books" class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
              <img src="{{ book.thumbnail }}" class="card-img-top" alt="Books Image">
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text ">{{book.description}}</p>
                <a href="#" class="btn btn-primary">Read more..</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
